.footer-wrap {
  display: flex;
  padding: 4px 10px;
  border-top: solid 1px #cbcbcb;
}

/* .footer-wrap > div {
  display: flex;
} */

.footer-center {
  flex: 1.7;
}

.footer-left {
  flex: 1;
}

.footer-right {
  flex: 1.3;
}

.footer-right .btn {
  cursor: pointer;
  border: none;
  background: none;
}

.filter-btn {
  background: none;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.filter-btn.active {
  border-radius: 3px;
  border: solid 1px #ff7676;
}

.filter-btn-wrap {
  border-bottom: solid 1px gray;
}
