.wrapper {
  width: 450px;
  box-shadow: 1px 1px 3px 0px;
}

ul {
  list-style: none;
  padding-inline-start: unset;
  margin-block-start: unset;
  margin-block-end: unset;
}

li {
  border-bottom: solid 1px #cbcbcb;
  padding: 5px 10px;
}
